# ======================================================
#	TYPESCRIPT
# ======================================================
.git\
.vscode\
node_modules\
build\
src\

*.*ignore
*.js.map
.travis.yml
package-lock.json
tsconfig.json
